.DS_Store
.dropbox
report.pdf
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.lb
*.lof
*.log
*.lot
*.nmg
*.nmo
*.nms
*.out
*.ptc
*.slg
*.slo
*.sls
*.toc
*.run.xml
*.xdy
*.synctex*

